.message{
    padding:10px;
    border-radius:15px;
    margin-bottom:6px;
    white-space:pre-wrap;
}
.other-message{
    background:var(--ion-color-secondary);
    color:#fff;
}
.my-message{
    background:var(--ion-color-tertiary);
    color:#fff;
    size:auto;
}
.time{
    color:dfdfdf;
    font-size:small;
}
.msg.btn{
--padding-start:1.5em;
--padding-end:1.5em;
}
.message-input{
    width:98%;
    border:2px solid var(--ion-color-medium);
    border-radius: 20px;
    background: #fff;
    resize:none;
    padding-left:10px;
    padding-right:10px;
}